plugin: aws_ec2

regions:
  - sa-east-1

filters:
  tag:Project: "redis-ha-demo"

keyed_groups:
  - key: tags.Role
    prefix: ""
    separator: ""

hostnames:
  - private-ip-address

compose:
  ansible_host: private_ip_address

strict: False
