plugin: aws_ec2

regions:
  - sa-east-1

filters:
  tag:Project: redis-ha-demo

keyed_groups:
  - key: tags.Name
    prefix: ""
    separator: ""

hostnames:
  - public-ip-address
  - private-ip-address

compose:
  ansible_host: public_ip_address

strict: False
