---
- name: Configure Redis Master
  hosts: master_redis
  become: yes
  roles:
    - geerlingguy.redis

- name: Configure Redis Replica
  hosts: replica_redis
  become: yes
  roles:
    - geerlingguy.redis
