---
- name: Configure Redis Master
  hosts: master-redis
  become: yes
  roles:
    - geerlingguy.redis

- name: Configure Redis Replica
  hosts: replica-redis
  become: yes
  roles:
    - geerlingguy.redis
